body,html {
  font-size: 20px;
}
.navbar {
    margin: 0 0 0 0;
    background-color: #fff;
    background-image: url(../images/header-bg.png);
    background-color: #184d36;
    color: #fff;
}
.navbar a,
.navbar a i{
  color: #fff;
  font-size: 1.3rem;
}
.navbar .center {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    font-size: 1.3rem;
    font-weight: 700;
    padding-right: 18px;
    padding-left: .5em;
}



/* tabbar */
.tabbar a.active {
  color:#184d36;
}


.tabbar a {
  font-size: 1.5em;
  line-height: 1.3;
  color:#666;
}


/* pages */
.page,
.pages {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fffded
}


/* swiper */

.swiper-container {
    height: 136px;
    margin-bottom: 6px;
}
.swiper-slide {
    background: #fff;
    padding:18px;
}

.swiper-slide span {
    font-size: 17px;
}

.swiper-pagination {
    text-align: left;
    padding-left:18px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color:#184d36;
    background: #fff;
    opacity: 1;
    border-radius: 3px;
    font-weight: 700;
    font-size: .7rem;
}
.swiper-pagination-bullet-active {
    background-color: #184d36;
    color: #fff;
}
